.form {
	display: flex;
	flex-direction: column;
}

.inputGroup {
	display: flex;
	flex-direction: column;
	padding: 15px;
}

.inputRow {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 10px 0 10px 0;
	justify-content: space-between;
}

.inputRow label {
	width: 50%;
	font-size: 16px;
}

.input {
	width: 50%;
	padding: 5px;
	height: 30px;
	border: 1px solid rgb(169, 169, 169);
	border-radius: 4px;
	font-size: 16px;
}

.btnContainer {
	display: flex;
	align-items: flex-end;
	background-color: #efeeee;
	padding: 10px 15px 10px 15px;
	justify-content: space-between;
}

.error {
	padding-top: 8px;
	color: #d45087;
	font-size: 14px;
	display: inline-block;
	text-align: right;
	width: 100%;
}

.btn {
	background-color: transparent;
	width: 45%;
	height: 35px;
	border: .6px solid #949494;
	border-radius: 6px;
	text-align: left;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.btn:hover {
	background-color: #e0f4f6;
}

.btn:active {
	background-color: #b5c4c5;
}

.btn[disabled] {
	background-color: #dcdcdc;
	opacity: .6;
}
