.canvas {
	width: 100%;
	height: 100%;
	background-color: white;
}

.canvas:focus {
	outline: none;
}

.nodeText {
	cursor: default;
}

.bar {
	animation: fadeIn 0.2s;
}

.active {
	fill: #ffa931;
	stroke: black;
	stroke-width: 1;
}

.visited {
	opacity: 0.3;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	50% {
		opacity: .5;
	}

	100% {
		opacity: 1;
	}
}

.graphicContent {
	width: 100%;
	height: 100%;
	position: relative;
	background: transparent;
}

.zoomControlsBox {
	position: absolute;
	top: 5px;
	left: 0;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
}
