.button {
	margin-top: 5px;
	background-color: transparent;
	height: 35px;
	border: .6px solid #949494;
	border-radius: 6px;
	text-align: left;
	font-size: 15px;
}

.button:hover {
	background-color: #e0f4f6;
}

.button:active {
	background-color: #b5c4c5;
}
