.title {
	color: #949494;
	font-size: 13px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.content {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	width: 98%;
}

.row {
	cursor: default;
	border-bottom: 1px solid #e7ebfe3f;
}

.row:hover {
	background-color: #e0f4f6;
}

.row:active {
	background-color: #b5c4c5;
}

.coloredRow {
	composes: row;
	background-color: #ebebeb1a;
}
